.menu-toggler {
    padding: 1rem 0;
    cursor: pointer;
}

.menu-toggler span {
    display: block;
    width: 1.4rem;
    height: .2rem;
    border: 1px solid white;
    background-color: white;
    margin-bottom: .2rem;
    border-radius: .3rem;
}

.menu-toggler:focus span
.menu-toggler:hover span {
    background-color: var(--spinner-color);
    border-color: var(--spinner-color);
}


@media (min-width: 780px){
    .menu-toggler {
        display: none;
    }
}