.loadingSpinnerContainer {
    z-index: 100;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    border: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.373);
    border-radius: .4rem;
    padding: 3rem;
}

