.modal {
    z-index: 100;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox {
    border: 1px solid var(--error-border-color);
    border-radius: .3rem;
    padding: 2rem;
    background-color: #300532;
}
