:root {
  --error-color: #ff0000;
  --error-border-color: #ff0000;
  --error-background-color: #d8a9b182;
  --spinner-color: #5f025f;
  --default-font: #C8CBE7;
  --done-color: #4D5067;
  --background-color: #1b1a1a;
  --input-background:#393A4B;
  --side-drawer-background: #282328ed;
  --nav-link-color: white;
  --btn-font-color: white
}

@media (prefers-color-scheme: light){
  :root {
    --default-font: #393A4B;
    --background-color: #F2F2F2;
    --input-background: #FFFFFF;
    --side-drawer-background: #a094a0ed;
    --nav-link-color: black;
    --btn-font-color: #F2F2F2;
    --nav-link-color: #F2F2F2;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--default-font);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: none
}

@media (min-width: 780px){
  .mobile-nav {
    display: none;
  }
}

.center {
  margin: 0 auto;
}

@media (min-width: 780px) {
  :root {
    font-size: calc(16px + 0.1vw);
  }
}