.hero {
    background-image: url('../assets/bg-mobile-dark.jpg');
}

.hero {
    min-height: 40vh;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

@media (min-width: 780px){
    .hero {
        background-image: url('../assets/bg-desktop-dark.jpg');
    }
}

